.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(135deg,#1e1e20,#0e0e11 32%);
}
  
  
.backgroundImage {
  background-image: url(https://uploads-ssl.webflow.com/6408bea3de5aef58b7e197d4/6438c3059d443cd7a78762eb_stars-bg.png);
  width: 100%;
  height: 100dvh;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}
  
.backgroundGradient {
  width: 800px;
  height: 700px;
  opacity: 1;
  -webkit-text-fill-color: inherit;
  background-image: radial-gradient(circle at 50% 40%, rgba(28, 23, 67, .8), hsla(239, 53%, 59%, 0.1), rgba(28, 23, 67, 0) 55%);
  background-clip: border-box;
  border-radius: 300px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 960px) {
  .backgroundGradient {
    width: 250px;
    height: 220px;
    margin: auto;
  }
}