@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {

    /* Colors */
    --black: #111;
    --black-3: #060416;
    --elements-webflow-library-neutral--800: #211f54;
    --black-2: #9b7474;
    --medium-purple: #a06cff;
    --cornflower-blue: #6a80ff;
    --medium-slate-blue: #8f6aff;
    --thistle-2: #b0a9c7;
    --seashell: #fcede7;
    --white-smoke: #f6f8fa;
    --thistle: #e9d2f0;
    --medium-purple-2: #8478a8;
    --ghost-white: #fbf7ff;
    --white-smoke-2: #f3f3f3;
    --elements-webflow-library-neutral--300: #eff0f6;
    --elements-webflow-library-general--shadow-02: rgba(20,20,43,.08);
    --elements-webflow-library-neutral--600: #0a0a0a;
    --elements-webflow-library-general--shadow-01: rgba(20,20,43,.06);
    --elements-webflow-library-neutral--100: white;
    --silver: #c3c3c4;
    --lavender-blush: #fcf1ff;
    --elements-webflow-library-neutral--400: #dcddeb;
    --elements-webflow-library-accent--primary-1: #4a3aff;
    --light-green: #30E3CA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style-type: none;
    text-decoration: none;
    resize: none;
}

html {
    scroll-behavior: smooth;
    font-size: 87.75%;
}

body {
    background-image: radial-gradient(circle farthest-corner at 0% 0%, #180d2e, var(--black-3)34%);
    color: #f7f7f7;
}


.hero-bg {
    background: linear-gradient(to bottom, #00000099, #00000099), url('../public/bg.jpg')no-repeat center/cover;
    background-attachment: fixed;
}

.nav {
    backdrop-filter: blur(8px);
    background-color: rgba(6,4,22,0)
}

section {
    padding: 4rem 5rem;
}

/* Fonts */

.bg-about {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.background {
  background-color: rgba(255, 255, 255, .050);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  -moz-backdrop-filter: blur(2.5px);
  -ms-backdrop-filter: blur(2.5px);
  -o-backdrop-filter: blur(2.5px);
  padding: 0.55rem 1.3rem;
  border-radius: 5px;
  box-shadow: 0 1.25px 3.33px rgba(255, 255, 255, .1);
}


/* Gradients */

.gradient {
  position: absolute;
  z-index: -10;
  width: 180.98px;
  height: 180.98px;
  border-radius: 100%;
  filter: blur(1000px);
  -webkit-filter: blur(1000px);
  -moz-filter: blur(1000px);
  -o-filter: blur(1000px);
  -ms-filter: blur(1000px);
  background: radial-gradient(circle at 50% 50%, rgba(26, 24, 133, 1) 40%, rgba(0, 1, 73, 1) 70%);
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
  position: absolute;
  z-index: -10;
  width: 150px;
  height: 300px;
  left: 45%;
  right: 0;
  top: 35%;
  border-radius: 100%;
  -webkit-filter: blur(125px);
  -moz-filter: blur(125px);
  -o-filter: blur(125px);
  -ms-filter: blur(125px);
}

.gradient-02 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: #7aebfb;
  filter: blur(190px);
}

.active {
  border-bottom: 1px solid #a134c7;
}

.gradient-03 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, .50) 100%
  );
}

.gradient-05-v2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.90) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}


.gradient-06 {
  position: absolute;
  z-index: -10;
  width: 180.98px;
  height: 180.98px;
  border-radius: 100%;
  filter: blur(1000px);
  -webkit-filter: blur(1000px);
  -moz-filter: blur(1000px);
  -o-filter: blur(1000px);
  -ms-filter: blur(1000px);
  background: radial-gradient(circle at 50% 50%, rgba(26, 24, 133, 1) 40%, rgba(0, 1, 73, 1) 70%);
}

.gradient-07 {
  background: linear-gradient(to top, rgb(25, 14, 54)75%, rgb(0, 0, 0)100%);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #7aebfb 53.65%,
    #a134c7 100%
  );
}

/* Text */

.heading {
  font-size: 32.98px;
  font-weight: 800;
  text-align: center;
  color: #ffffffff;
}

.subheading {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    background-image: linear-gradient(to top, var(--medium-purple-2)4%, white 29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.titular {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background-image: linear-gradient(to top, var(--medium-purple-2)4%, white 29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.paragraph {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--thistle-2);
    letter-spacing: 0.010rem;
}

/* Items */

.link {
    color: var(--thistle-2);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.180rem;
    letter-spacing: 0.010rem;
    padding: 0.33rem 0.6rem;
    border-radius: 6.5px;
    transition: 0.33s all ease;
    display: inline-block;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    -ms-backdrop-filter: blur(30px);
    -o-backdrop-filter: blur(30px);
}

.btn-primary {
    background-image: radial-gradient(circle farthest-corner at 50% 50%,var(--black-3)99%,#3e2766);
    letter-spacing: 0.1rem;
    text-transform: none;
    border-radius: 9px;
    box-shadow: inset 0 20px 30px -14px rgba(160,108,255,.66);
    font-size: 1rem;
    font-weight: 500;
    color: var(--ghost-white);
    padding: 0.4rem 2.5rem;
    transition: 0.33s all ease;
    border: .75px solid var(--medium-slate-blue);
}

/* Backgrounds */

.gradient-v1 {
    background-image: linear-gradient(to top, var(--elements-webflow-library-neutral--800)33%, var(--cornflower-blue)33%);
    width: 225px;
    height: 225px;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    position: absolute;
    z-index: -10;
}

.gradient-v2 {
    width: 225px;
    height: 225px;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    position: absolute;
    background-image: linear-gradient(to bottom, var(--medium-purple)25%, var(--elements-webflow-library-neutral--800)33% , var(--light-green));
    z-index: -10;
}

/* Varios */

.border-bottom-bg {
    border-bottom: .2px solid var(--medium-slate-blue);
}

.shadows-custom {
    box-shadow: 0 0 230px 11px rgba(113,106,255,.33);
}

.border-gradient {
    background-image: radial-gradient(circle farthest-corner at 25% 50%, #180d2e, var(--black-3)100%);
}


/* Hover */

.link:hover {
    background-color: rgba(255, 255, 255, .5);
}

.btn-primary:hover {
    opacity: 0.8;
    transform: translateY(-5px);
}


/* Medias */


@media screen and (max-width: 768px) {
    section {
        padding: 2rem 1rem;
    }
    .title {
        font-size: 2.3rem;
    }
    .paragraph {
        font-size: 1.3rem;
        width: 90%;
        margin: auto;
    }
    .hero-bg {
        background-attachment: scroll;
    }
}

