@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --green-water: #80ffdb;
  --violet: #5e60ce;
  --thistle-2: #b0a9c7;
  --black: #060416;
  --ghost-white: #fbf7ff;
  --cornflower-blue: #6a80ff;
  --medium-purple: #a06cff;
  --medium-purple-2: #8478a8;
}


/* Globals */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  resize: none;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}


section {
  padding: 4rem 6rem ;
}

.shadows-variant {
  box-shadow: 0 0 20px rgba(255, 255, 255, .075);
}

.rounded-variant {
  border-radius: 16px 16px 0 0;
}

/* Buttons */

.btn-classic {
  background-color: var(--black);
  color: var(--ghost-white);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 5px rgba(255, 255, 255, .075);
  transition: .33s all ease;
  border: 0.2px solid var(--cornflower-blue);
}

.btn-classic:hover {
  background-color: var(--ghost-white);
  color: var(--black);
  transform: translateY(-5px);
}

.btn-feedback {
  font-weight: 500;
  padding: 0.25rem .75rem;
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 1px 5px rgba(255, 255, 255, .075);
  transition: .33s all ease;
  background: transparent;
  color: #e9e9e9;
  transition: 0.33s all ease;
}

.btn-feedback:hover {
  background-color: hsla(350, 95%, 98.5%, 1);
  color: hsla(0, 0%, 0%, 1);
}


/* Backgrounds */

.bg-card {
  background: linear-gradient(to right, #04c7bd, rgb(45, 1, 128) );
  z-index: -1;
}

.bg-image {
  background: linear-gradient(to right, #00000096, #00000096),url('../public/bg.jpg')no-repeat center/cover;
  background-attachment: fixed;
}

.bg-feed-quote {
  background: url('../public/icons/quotes.svg')no-repeat center/contain;
  width: 36px;
  height: 36px;
}

.bg-wrapper {
  background: url('../public/icons/wrapper.svg')no-repeat center/cover;
  height: 3px;
}

.bg-about {
  background: linear-gradient(
    97.86deg,
    #4402af 0%,
    #04c7bd 53.65%,
    #4402af 100%
  );
}

.background {
  background-color: rgba(255, 255, 255, .050);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  -moz-backdrop-filter: blur(2.5px);
  -ms-backdrop-filter: blur(2.5px);
  -o-backdrop-filter: blur(2.5px);
  padding: 0.55rem 1.3rem;
  border-radius: 5px;
  box-shadow: 0 1.25px 3.33px rgba(255, 255, 255, .1);
}


/* Gradients */

.gradient {
  position: absolute;
  z-index: -10;
  width: 180.98px;
  height: 180.98px;
  border-radius: 100%;
  filter: blur(1000px);
  -webkit-filter: blur(1000px);
  -moz-filter: blur(1000px);
  -o-filter: blur(1000px);
  -ms-filter: blur(1000px);
  background: radial-gradient(circle at 50% 50%, rgba(26, 24, 133, 1) 40%, rgba(0, 1, 73, 1) 70%);
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
  position: absolute;
  z-index: -10;
  width: 150px;
  height: 300px;
  left: 45%;
  right: 0;
  top: 35%;
  border-radius: 100%;
  -webkit-filter: blur(125px);
  -moz-filter: blur(125px);
  -o-filter: blur(125px);
  -ms-filter: blur(125px);
}

.gradient-02 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: #7aebfb;
  filter: blur(190px);
}

.active {
  border-bottom: 1px solid #4402af;
}

.gradient-03 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: -10;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, .50) 100%
  );
}

.gradient-05-v2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.90) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}


.gradient-06 {
  position: absolute;
  z-index: -10;
  width: 180.98px;
  height: 180.98px;
  border-radius: 100%;
  filter: blur(1000px);
  -webkit-filter: blur(1000px);
  -moz-filter: blur(1000px);
  -o-filter: blur(1000px);
  -ms-filter: blur(1000px);
  background: radial-gradient(circle at 50% 50%, rgb(67, 2, 187) 40%, rgba(0, 1, 73, 1) 70%);
}

.gradient-07 {
  background: linear-gradient(to top, rgb(16, 12, 22)27.33%, rgb(19, 15, 31)100%);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #4402af 0%,
    #34acc7 53.65%,
    #4402af 100%
  );
}

/* Text */

.heading {
  font-size: 32.75px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  background-clip: text;
  background-image: linear-gradient(
    to top,
    var(--medium-purple-2) 4%,
    white 29%
  );
  line-height: 1.2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.subheading {
  font-size: 19.75px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    var(--medium-purple-2) 4%,
    white 29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.paragraph {
  font-size: 19.25px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.paragraph-v1 {
  font-size: 17.75px;
  font-weight: 500;
  color: var(--thistle-2);
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

.shadow-feed {
  box-shadow: 0 3px 40px rgba(255, 255, 255, .080);
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.paragraph-v2 {
  font-size: 17.25px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, .1);
}

.paragraph-v3 {
  font-size: 15.75px;
  font-weight: 400;
  letter-spacing: 0.075rem;
  text-shadow: 0 0 1.1px rgba(255, 255, 255, 0.9);
  color: var(--thistle-2);
  text-rendering: optimizeLegibility;
}

.paragraph-v4 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

.text-gradient {
  background: linear-gradient(to right, #0cf7b196, rgb(55, 1, 156) );
  color: transparent;
  background-clip: text;
}

.txt-shadow {
  text-shadow: 0 0 2px #ffffff;
}

.link-paragraph {
  color: var(--ghost-white);
  font-size: 16.75px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0 0 0.9px var(--cornflower-blue);
  border: 1px solid var(--violet);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  background-color: var(--black);
  transition: 300ms ease background-color, color;
  box-shadow: 0 1.8px 12px rgba(255, 255, 255, 0.080);
}

.link-paragraph-mobile {
  color: var(--ghost-white);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--cornflower-blue);
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1.25px var(--bg-color);
  letter-spacing: -1px;
}

.link-paragraph:hover {
  color: var(--black);
  background-color: var(--ghost-white);
}

/* Slider */

.slider {
  flex: 0 0 100%;
}

.btn-arrow {
  all:unset;
  padding: 0 .25rem;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: 50%;
}

.btn-arrow:first-child {
  left: 0;
}

.btn-arrow:nth-child(2) {
  right: 0;
}

.btn-arrow > * {
  width: 2rem;
  height: 2rem;
  fill: white;
  stroke: white;
  border-radius: 50%;
  transition: 500ms fill ease;
  animation: squish 200ms ease-in-out;
}

.btn-arrow > *:hover {
  fill: #a0a0a0;
}

.btn-icon > * {
  width: 2.5rem;
  height: 2.5rem;
  transition: 500ms fill ease;
}

/* Icons */


.item .icon-media {
  width: 3.2rem;
  height: 3.2rem;
  background-color: hsl(203,92%,97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 2px solid hsl(203, 92%, 97%);
  overflow: hidden;
}

.item .icon-media::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}

.item:hover .icon-media::before {
  scale: 1 1;
}

.item .icon-media:hover .icon {
  color: #fff;
  transform: rotate(360deg);
}

.item:nth-child(1) {
  --bg-color: #0077b5;
}


.item:nth-child(2) {
  --bg-color: linear-gradient(
    to bottom right,
    #f9ce34,
    #ee2a7b,
    #6228d7
  )
}




/* Border */

.border-card {
  border: 1px solid #5e60ce;
}

/* Hover */

.icon-links:hover {
  background-color: rgba(255, 255, 255, .075);
}



/* Medias */

@media screen and (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
  section {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 640px) {
  section {
    padding: 2.5rem 0.5rem;
  }
  .paragraph-v1 {
    font-size: 14.50px;
  }
  .heading {
    font-size: 26px;
  }
}